@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";
@import "@heroui/styles";
@import "../components/styles/utilities/appUtilities.css";
@import "../components/styles/utilities/inputUtil.css";
@import "../components/styles/utilities/autoCompleteUtil.css";
@import "../components/styles/utilities/textareaUtil.css";
@import "../components/styles/utilities/inputOtpUtil.css";
@import "../components/styles/utilities/search-fieldUtils.css";
@import "../components/styles/sweetAlert.css";

:root {
  --accent: oklch(0.5996 0.1499 150.26);
  --border: oklch(0.8671 0.0106 247.95);
  --muted: oklch(0.5517 0.0138 285.94);

  --ring-offset-width: 1px;
  --tw-ring-offset-width: 1px;
  --field-background: var(--white);
  --field-foreground: oklch(0.2103 0.0059 285.89);
  --field-placeholder: var(--muted);
  /* --foreground: #ffffff; */

  --heroui-font-family-sans: 'Roboto', sans-serif;
  
  /* custom variable */
  --input-container-height: 50px;
  --input-prefix-image-width: 25px;
  --input-prefix-image-height: 25px;
  --button-height: 50px;
  --input-border-radius: 5px;
  --icon-button-icon-width: 25px;
  --icon-button-icon-height: 25px;
}

@layer components {
  .button {
    @apply rounded-sm bg-accent h-[var(--button-height)] xs:text-base text-xs sm:text-base md:text-base lg:text-base xl:text-base 2xl:text-base ;
  }
  .button--icon-only {
    @apply bg-transparent h-auto w-auto rounded-sm
  }
  .button--icon-only:hover {
    @apply bg-[var(--color-default-hover)]
  }
  .button--icon-only svg {
    @apply w-[var(--icon-button-icon-width)]! h-[var(--icon-button-icon-height)]!
  }
  .button--danger{
    @apply bg-[var(--color-danger)]
  }
  .input-group {
    @apply bg-field text-field-foreground inline-flex h-[var(--input-container-height)] items-center overflow-hidden border-1 text-sm text-xs text-lg text-xl text-2xl text-3xl text-4xl border-[var(--border)] px-3 py-2 outline-none rounded-sm;
  }
  .label{
    @apply font-bold text-base mb-[5px];
  }
  .input-group__input {
    @apply flex-1 rounded-none border-0 bg-transparent shadow-none outline-none text-base text-sm text-xs text-lg text-xl text-2xl text-3xl text-4xl font-normal;
  }
  .card{
    @apply xl:p-[40px] xs:p-[20px] rounded-lg shadow-[0_0_0.25em_rgba(67,71,85,0.27),0_0.25em_1em_rgba(90,125,188,0.05)]
  }
  .chip {
    @apply text-[var(--accent)]
  }
  .input-group[data-focus-within="true"] {
    @apply border-1 border-[var(--accent)];
    box-shadow: none;
  }

  .input-group__prefix {
    @apply w-[var(--input-prefix-image-width)] h-[var(--input-prefix-image-height)] object-contain relative
  }

  .input-group:has([data-slot="input-group-prefix"]) .input-group__input {
    @apply pl-[8px]!;
  }
   .avatar {
  @apply rounded-none;
}
  .avatar__image {
    @apply object-contain relative border-r-0
  }

  .avatar--sm {
    @apply bg-transparent 
  }

  .modal__header {
    @apply text-center
  }
  .modal__dialog {
    @apply my-auto
  }
}

@theme {
  --font-family-sans: 'Roboto', sans-serif;
  --breakpoint-xs: 20rem;
  /* --shadow-md: rgba(100,100,111,0.2) 0px 7px 29px 0px; customize the default shadow-md utility */
}
.container{
    @apply max-w-[100%] px-[35px] xs:px-[16px];
  }
body {
  font-family: 'Roboto', sans-serif
}



/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */