@layer components {
  .input {
    @apply rounded-sm border-1 border-border bg-surface h-[var(--input-container-height)] text-base font-normal;

    &:hover,
    &[data-hovered="true"] {
      @apply bg-surface-secondary;
    }
    &:focus-visible,
    &[data-focus-visible="true"] {
      @apply border-1 border-[var(--accent)];
      box-shadow: none;
    }
  }
}