@layer components {
  .textarea {
    @apply rounded-sm border-1 border-[var(--border)] bg-surface px-4 py-3 text-base font-normal leading-6;

    &:hover,
    &[data-hovered="true"] {
      @apply bg-surface-secondary;
    }

    &:focus-visible,
    &[data-focus-visible="true"] {
      @apply border-1 border-[var(--accent)];
      box-shadow: none;
    }

    &[data-invalid="true"] {
      @apply border-danger text-danger;
    }
  }
}